numpy==1.26.4
tensorflow==2.18.0
keras==3.8.0
pandas==2.2.2
librosa==0.9.2
seaborn==0.13.2
matplotlib==3.5.3
scikit-learn==1.4.2
ipython==8.24.0
streamlit==1.35.0
sounddevice==0.4.6
joblib==1.4.2
gdown==5.1.0
